.App {
  text-align: center;
}

header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 20px;
  height: 150px;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

.search-box {
  display: flex;
}

.header-bottom {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

button {
  background-color: #282c34;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #777;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  border: 1px solid #cdcbcb;
  border-radius: 6px;
  overflow: hidden;
  width: 185px;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.04);
    box-shadow: 0 1px 3px #0000000d, 0 4px 6px #0000001a;
  }

  .info {
    padding: 0.5rem;
    width: 100%;

    p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 0.85rem;

      &:first-of-type {
        font-weight: bold;
      }

      &:last-of-type {
        color: gray;
      }
    }
  }
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #29121266;

  .content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 8px 20px 0 20px;
    border: 1px solid #888;
    box-shadow: 0 2px 20px #0000004d, 0 4px 6px #0000004d;
    border-radius: 10px;
    width: 80%;

    .info {
      padding: 40px 10px 40px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin-top: 1rem;

        span {
          font-weight: bold;
        }
      }
    }

    .close {
      align-self: flex-start;
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}